{{-- Full-screen viewer for a card's image or clip. Esc, the close key or a click outside closes it. --}}
<template x-teleport="body">
  <div class="viewer" x-show="viewer" x-cloak role="dialog" aria-modal="true" :aria-label="viewer?.title" @click.self="closeViewer()">
    <template x-if="viewer">
      <div class="viewer__frame">
        <header class="viewer__bar">
          <span class="ae-stencil" x-text="viewer.title"></span>
          <button type="button" class="ae-key ae-key--sm" @click="showInFolder(viewer.path)">{{{ icon('folder') }}}<span>Show in folder</span></button>
          <button type="button" class="ae-key ae-key--sm ae-key--square" x-ref="viewerClose" @click="closeViewer()" aria-label="Close viewer">{{{ icon('close') }}}</button>
        </header>
        <template x-if="!viewer.video">
          <img class="viewer__media" :src="viewer.url" :alt="viewer.title">
        </template>
        <template x-if="viewer.video">
          {{-- The same deck as on the cards; fullscreen here is the screen itself. --}}
          <div class="ae-player viewer__player" x-data="MediaPlayer({ fullscreen: (v) => v?.parentElement?.requestFullscreen?.() })"
               x-effect="attach(viewer.url)" :class="{ 'is-playing': playing, 'is-scrubbing': scrubbing }">
            <video class="viewer__media" :src="viewer.url" x-ref="vid" autoplay loop playsinline
                   @loadedmetadata="duration = $el.duration; applyVolume()" @durationchange="duration = $el.duration"
                   @progress="_sync()" @volumechange="onVolumeChange()" @play="onPlay()" @pause="onPause()"
                   @click.stop="togglePlay()"></video>
            @include('pages/spaces/media-deck')
          </div>
        </template>
      </div>
    </template>
  </div>
</template>
